{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/user/css/login.css') }}" />
{% endblock %}

{% block body %}
<section class="login">
    <article>
        <h1>Register</h1>

        <form action="{{ path('user_register') }}" method="POST" novalidate="novalidate">
            {{ form_errors(form) }}

            {{ form_row(form.username) }}
            {{ form_row(form.email) }}

            {{ form_row(form.plainPassword.first, {
                label: 'Password'
            }) }}

            {{ form_row(form.plainPassword.second, {
                label: 'Repeat Password'
            }) }}

            {{ form_rest(form) }}

            <hr/>
            <input type="submit" class="btn btn-primary pull-right" value="Register!" />
        </form>
    </article>
</section>
{% endblock %}
